SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TABLE_NAME=orders
SUPABASE_REVIEWS_TABLE_NAME=reviews

PUBLIC_BOT_URL=https://t.me/BatumiTransferBot
PUBLIC_SITE_TITLE=Трансферы из Батуми

RATE_USD=0.37
RATE_EUR=0.32
RATE_RUB=27.4

PAYMENT_BANK_RECEIVER=
PAYMENT_BANK_NAME=Credo Bank
PAYMENT_BANK_GEL_IBAN=
PAYMENT_BANK_USD_IBAN=
PAYMENT_BANK_EUR_IBAN=

PAYMENT_RUB_RECEIVER=Яковлев Андрей Русланович
PAYMENT_RUB_BANK=Яндекс Банк
PAYMENT_RUB_PHONE=+7(950)493-96-63

PAYMENT_TG_WALLET=
PAYMENT_CRYPTO_USDT_TRC20=TH9BE3DhPCpoyGe93iQeMYhAbJWHptiH5y
PAYMENT_CRYPTO_USDT_TON=UQC3VjQS0-5Vpgkf29C583OKaz1GBHXxtLnYIro0cuG4QTzv
